<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/script :: head('Special-Offer')"></head>
<body class="bg-dark">
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container">
    <h1 class="text-warning text-center mt-3">Aggiungi un'Offerta Speciale</h1>
    <hr class="text-warning">
    <div class="container">
        <form
                id="specialOfferForm"
                th:action="@{/special-offer}"
                th:object="${specialOffer}"
                method="POST"
        >

            <div class="mb-3">
                <label for="offerTitle" class="form-label text-warning">Title</label>
                <input type="text" class="form-control" id="offerTitle" th:field="*{offerTitle}" required
                       th:errorClass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('offerTitle')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('offerTitle')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>

            <div class="mb-3">
                <label for="startDate" class="form-label text-warning">Start Date</label>
                <input type="date" class="form-control" id="startDate" th:field="*{startDate}" required
                       th:errorClass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('startDate')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('startDate')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>

            <div class="mb-3">
                <label for="finishDate" class="form-label text-warning">Finish Date</label>
                <input type="date" class="form-control" id="finishDate" th:field="*{finishDate}" required
                       th:errorClass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('finishDate')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('finishDate')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3" th:each="pizza : ${pizze}">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox"
                               th:id="${pizza.id}"
                               th:name="pizzaId"
                               th:value="${pizza.id}">
                        <label class="form-check-label text-warning"
                               th:for="${pizza.id}"
                               th:text="${pizza.name}">
                        </label>
                    </div>
                </div>
            </div>
            <div class="mt-3 mb-3">
                <button type="submit" class="btn btn-warning">Save</button>
                <a class="btn btn-warning" th:href="@{/}">Cancel</a>
            </div>
        </form>
    </div>
</div>

<th:block th:replace="fragments/script :: scriptBody"></th:block>
</body>
</html>