<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/script :: head('Details')"></head>
<body class="bg-dark">
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="row text-center mt-3 mb-0">
    <h1 class="text-warning" th:text="${pizza.name}"></h1>
</div>
<div class="d-flex m-auto">
    <div class="m-auto">
        <img th:src="${pizza.image}" alt="Pizza Image" class="m-5 mb-0 mt-0 img-fluid flex-shrink-0"
             style="height: 300px;"/>

        <div class="text-center">
            <h2 class="text-decoration-underline text-warning">INGREDIENTI</h2>
            <p th:text="${pizza.description}" class="text-white"></p>
        </div>
    </div>
</div>
<div class="text-center">
    <a th:href="@{/}" class="text-warning"> &lt;&lt; Le Nostre Pizze</a>
</div>


<th:block th:replace="fragments/script :: scriptBody"></th:block>
</body>
</html>