<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/script :: head('Add Pizza')"></head>
<body class="bg-dark">
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container">
    <h1 class="text-warning text-center mt-3">Aggiungi una Pizza</h1>
    <hr class="text-warning">
    <div class="container">
        <form
                id="pizza-form"
                th:action="@{/create}"
                th:object="${pizza}"
                method="POST"
        >

            <div class="mb-3">
                <label for="name" class="form-label text-warning">Name</label>
                <input type="text" class="form-control" id="name" th:field="*{name}" required
                       th:errorClass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>


            <div class="mb-3">
                <label for="description" class="form-label text-warning">Description</label>
                <input type="text" class="form-control" id="description" th:field="*{description}" required
                       th:errorClass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>


            <div class="mb-3">
                <label for="image" class="form-label text-warning">Image URL</label>
                <input type="text" class="form-control" id="image" th:field="*{image}" required
                       th:errorClass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('image')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('image')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>


            <div class="mb-3">
                <label for="price" class="form-label text-warning">Price</label>
                <input type="text" class="form-control" id="price" th:field="*{price}" required
                       th:errorClass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('price')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('price')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-warning">Save</button>
                <a class="btn btn-warning" th:href="@{/}">Cancel</a>
            </div>
        </form>
    </div>
</div>


<th:block th:replace="fragments/script :: scriptBody"></th:block>
</body>
</html>