<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/script :: head('Le Nostre Pizze')"></head>

<body class="bg-dark">
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container">
    <div class="row text-center mt-3">

        <div class="d-flex mb-3 justify-content-around align-items-center">
            <div class="me-auto">
                <a th:href="@{/create}" class="btn btn-warning">Aggiungi Pizza</a>
            </div>
            <div>
                <h1 class="text-warning">Le Nostre Pizze</h1>
            </div>
            <div class="ms-auto">
                <form th:action="@{/search}" method="get" class="d-flex align-items-center">
                    <input type="text" name="q" class="form-control form-control-sm me-2" placeholder="Cerca...">
                    <button type="submit" class="btn btn-warning">Cerca</button>
                </form>
            </div>
        </div>


    </div>
    <hr class="text-warning">
    <div class="row">
        <div th:if="${pizze.isEmpty() && param.q != null}" class="m-2 text-warning">
            <h1>Nessun elemento trovato per la ricerca: <strong th:text="${param.q}"></strong></h1>
        </div>
        <div class="col-md-4 text-center" th:each="pizza : ${pizze}">
            <div class="card p-3 mb-2 m-auto" style="width: 18rem;">
                <img th:src="${pizza.image}" alt="Pizza Image"/>
                <div class="card-body">
                    <h5 class="card-title" th:text="${pizza.name}">Nome Pizza</h5>
                    <p class="card-text" th:text="'Prezzo: ' + ${pizza.price} + ' €'">Prezzo</p>
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="m-2">
                            <a th:href="@{/show/{id}(id=${pizza.id})}" class="btn btn-warning">
                                <i class="fa-solid fa-circle-info"></i>
                            </a>
                        </div>
                        <div class="m-2">
                            <a th:href="@{/edit/{id}(id=${pizza.id})}" class="btn btn-warning">
                                <i class="fa-solid fa-pencil"></i>
                            </a>
                        </div>
                        <div class="m-2">
                            <form th:action="@{/delete/{id}(id=${pizza.id})}" method="POST">
                                <button type="submit" class="btn btn-warning">
                                    <i class="fa-solid fa-trash-can"></i>
                                </button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <hr class="text-warning">
    </div>

</div>

<th:block th:replace="fragments/script :: scriptBody"></th:block>
</body>

</html>